[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "clearex"
description = "Scalable analytics for cleared and expanded tissue imaging."
authors = [{name = "The Dean Lab, UT Southwestern Medical Center"}]
readme = "README.md"
license = { file = "LICENSE.md" }
version = "0.1.1"

requires-python = ">=3.11"

dependencies = [
    "antspyx",
    "black>=25.11.0",
    "bokeh>=3.1.0",
    "cython>=3.1.4",
    "dask==2025.1.0",
    "dask-image",
    "dask-jobqueue",
    "distributed==2025.1.0",
    "h5py",
    "jupyterlab",
    "matplotlib",
    "neuroglancer (>=2.40.1,<3.0.0)",
    "opencv-python",
    "pandas",
    "pre-commit",
    "pywavelets",
    "ruff>=0.14.6",
    "scikit-image",
    "scipy",
    "scipy-stubs~=1.15.3",
    "seaborn",
    "SimpleITK",
    "tifffile==2025.1.10",
    "ty>=0.0.1a29",
    "typer",
    "zarr<3.0",
]

[project.optional-dependencies]

dev = [
  "pytest",
  "pytest-xvfb",
  "pytest-cov",
]

docs = [
  "numpydoc",
  "nbconvert",
  "sphinx",
  "sphinx_rtd_theme",
  "sphinx-copybutton",
  "sphinx-issues",
  "sphinx-design",
  "pyyaml",
  "pydata_sphinx_theme",
  "sphinx-toolbox"
]

[project.urls]
Source = "https://github.com/TheDeanLab/clearex"

[project.scripts]
clearex = "clearex.main:main"
